 @import "bulma";

tr:nth-child(even){
  background-color: hsl(0, 0%, 96%);
}

td{
  padding: .5em;
}

h1 {
  text-align: center;
}

/* .companies {
  background:hsl(0, 0%, 96%);
} */

.items {
  background: hsl(0, 0%, 98%);
  border-left: 0;
  border-top: 0;
  position: relative;
  min-height: 375px;
}

img {
   max-width: 50%;
   width: 50%;
   max-height: 50%;
   height: 50%;
 }

.container {
  min-width: 90%;
}


table {
  margin: auto;
  valign: center;
}

span {
  font-weight: bold;
}

h3, h4 {
  display: block;
}

button {
  margin-bottom: 2vmax;
}

@media only screen and (max-width: 1000px) {
    .column {
      display: block;
    }
}
