body {
  /* background-color: #B23100; */
  background: linear-gradient(270deg, #E58C17, #B23100, #4C381E);
  background-size: 400% 400%;

  -webkit-animation: background-move 15s ease infinite;
  -moz-animation: background-move 15s ease infinite;
  animation: background-move 15s ease infinite;
}

td{
  padding: .5em;
}

h1 {
  text-align: center;
  color: #FFEDA7;
  font-family: 'Concert One', cursive;
}

.title {
  color: #B23100;
  font-family: 'Permanent Marker', cursive;
  font-size: 90px;
  text-shadow: 5px 2px 40px #FFEDA7, -5px -2px 40px #32CCB0;
}

img {
   max-width: 100%;
   width: 200px;
   max-height: 100%;
   height: 200px;
   cursor: pointer;
   animation-name: spin;
   animation-duration: .715s;
 }

 .header {
   background-image: url("/images/parallax_image.jpg");
   /* Set a specific height */
   height: 1250px;
   /* Create the parallax scrolling effect */
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
 }

.header, img {
  text-align: center;
  border-radius: 50%;
  box-shadow: 5px 2px 40px #FFEDA7, -5px -2px 40px #32CCB0;
}

p {
  opacity: .7;
  animation-name: size-in;
  animation-duration: 1s;
}


/* .companies {
  background:hsl(0, 0%, 96%);
} */

.items {
  background: #4C381E;
  /* background-image: linear-gradient(45deg, #B23100 25%, transparent 25%, transparent 50%, #32CCB0 50%, #32CCB0 75%, transparent 75%, #FFEDA7); */
  background-image: url("/images/parallax_image.jpg");
  /* background-size: 700px 700px; */
  box-shadow: 5px 2px 40px #FFEDA7, -5px -2px 40px #32CCB0;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-left: 0;
  border-top: 0;
  position: relative;
  min-height: 375px;
  border-radius: 25%;
}

tbody {
  justify-content: space-between;
  flex-wrap: wrap;
  display: flex;
  /* background-color: #FFEDA7; */
  opacity: .9;
  border-radius: 25%;
  background: linear-gradient(90deg, #FFEDA7, #B23100, #32CCB0);
  background-size: 400% 400%;

  -webkit-animation: background-move 20s ease infinite;
  -moz-animation: background-move 20s ease infinite;
  animation: background-move 20s ease infinite;
 }



.container {
  min-width: 90%;
}


table {
  margin: auto;
}

span {
  font-weight: bold;
}

h3 {
  color: #B23100;
  font-weight: bold;
}

h3, h4 {
  display: block;
}

h6 {
  color: #32CCB0;
  font-size: 30px;
  /* font-family: 'Oxygen', sans-serif; */
  /* font-family: 'Jua', sans-serif; */
  /* font-family: 'Permanent Marker', cursive; */
  /* font-family: 'Concert One', cursive; */
  font-family: 'Cabin Sketch', cursive;
  /* font-family: 'Fredericka the Great', cursive; */
  /* font-family: 'Bungee Inline', cursive; */
  text-shadow: 5px 2px 40px #FFEDA7, -5px -2px 40px #32CCB0;
}

button {
  margin-bottom: 2vmax;
  font-family: 'Cabin Sketch', cursive;
  font-weight: bold;
}

input[type=text] {
    border: 2px solid red;
    border-radius: 4px;
}



/* Animations */
@keyframes size-in {
    from {
      transform: scale(.1);
    }
    to {
      transform: scale(1);
    }
}


@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@-webkit-keyframes background-move {
     0%{background-position:0% 50%}
     50%{background-position:100% 50%}
     100%{background-position:0% 50%}
 }
 @-moz-keyframes background-move {
     0%{background-position:0% 50%}
     50%{background-position:100% 50%}
     100%{background-position:0% 50%}
 }
 @keyframes background-move {
     0%{background-position:0% 50%}
     50%{background-position:100% 50%}
     100%{background-position:0% 50%}
 }

@media only screen and (max-width: 1000px) {
    .column {
      display: block;
}
